<%- include('_head', { title: 'Edit Quiz', jquery: true }) %>

<%- include('_nav', { page: 'edit' }) %>

<%- include('_branding') %>

<form id="edit-form" action="/edit-<%= quiz.id %>" method="POST">
  <div id="quiz" class="quiz" data-question-number="0" >
    <input id="sub-header" type="text" name="oldQuizName" placeholder="Quiz Name" value="<%= quiz.name %>" required>
    <ol type="1">
    <% quiz.questions.forEach(question => { %>
    <div id="oldQuestion-<%= question.id %>" class="questions" data-answer-number="0" >
      <li class="question"><input class="question" type="text" name="oldQuestion-<%= question.id %>" placeholder="Question" value="<%= question.question %>" required></li>
      <ol type="A">
      <% question.answers.forEach(answer => { %>
      <div id="oldQuestion-<%= question.id %>-oldAnswer-<%= answer.id %>" class="answers">
        <li class="answer"><input class="answer" type="text" name="oldQuestion-<%= question.id %>-oldAnswer-<%= answer.id %>" placeholder="Answer" value="<%= answer.answer %>" required></li>
        <div class="correct">
          <input id="oldQuestion-<%= question.id %>-correct-answer-<%= answer.id %>" type="radio" name="oldQuestion-<%= question.id %>-correct-answer" <% if (answer.correct) { %>checked<% } %> value="oldQuestion-<%= question.id %>-oldAnswer-<%= answer.id %>" required>
          <label for="oldQuestion-<%= question.id %>-correct-answer-<%= answer.id %>">Correct</label>
        </div>
        <button class="delete" type="button" data-container="oldQuestion-<%= question.id %>-oldAnswer-<%= answer.id %>" onclick="deleteAnswer(this)">Delete this answer</button>
      </div>
      <% }) %>
      <button class="add" type="button" onclick="addAnswer(this)">Add another answer</button>
      </ol>
      <span class="dash">- - - - - - - - - - - - - - -</span>
      <button class="delete" type="button" data-container="oldQuestion-<%= question.id %>" onclick="deleteQuestion(this)">Delete this question</button>
    </div>
    <% }) %>
    <button class="add" type="button" onclick="addQuestion(this)">Add another question</button>
    </ol>
  </div>
  <input id="quizId" type="text" name="quizId" value="<%= quiz.id %>" hidden>
  <input id="deleteQuiz" type="text" name="deleteQuiz" value="" hidden>
  <input id="deleteQuestions" type="text" name="deleteQuestions" value="" hidden>
  <input id="deleteAnswers" type="text" name="deleteAnswers" value="" hidden>
  <button id="post" type="submit">Submit</button>
  <button class="delete" type="button" onclick="deleteAll()">Delete this quiz</button>
</form>

<%- include('_delete') %>

<%- include('_add') %>

<script>
  deleteQuestion = button => {
    const container = $(button).attr('data-container')
    const id = container.split('-')[1]
    const deleteQuestions = $('#deleteQuestions')
    
    deleteContainer(button)

    let value = deleteQuestions.attr('value')

    value = value ? value.split() : [] 
    value.push(id)
    
    deleteQuestions.attr('value', value.join())
  }

  deleteAnswer = button => {
    const container = $(button).attr('data-container')
    const id = container.split('-')[3]
    const deleteAnswers = $('#deleteAnswers')
    
    deleteContainer(button)

    let value = deleteAnswers.attr('value')

    value = value ? value.split() : [] 
    value.push(id)
    
    deleteAnswers.attr('value', value.join())
  }

  deleteAll = _ => {
    const deleteQuiz = $('#deleteQuiz')
    const quizId = $('#quizId').attr('value')
    
    deleteQuiz.attr('value', quizId)
    
    $('#quiz').remove()    
    $('#edit-form').submit()
  }
</script>
