<%- include('_head', { title: 'Quiz List' }) %>

<%- include('_nav', { page: 'list'}) %>

<%- include('_branding') %>

<% quizes.forEach(quiz => { %>

  <a href="/quiz-<%= quiz.id %>"><%= quiz.name %></a><br>

<% }) %>
