<%- include('_head', { title: 'Quiz - ' + quiz.name }) %>

<%- include('_nav', { page: 'quiz' }) %>

<%- include('_branding') %>

<h2 id="sub-header"><%= quiz.name %></h2>
<ol type="1">
  <% quiz.questions.forEach((question, index) => { %>
  <li class="question" ><%= question.question %><% if (permission !== 'restricted') { %>
    <button class="show" onclick="toggleClass(this, <%= question.id %>)"><span>Show</span> correct answer</button><% } %></li>
  <ol type="A">
    <% question.answers.forEach((answer, index) => { %>
    <li class="answer">
      <input id="answer-<%= answer.id %>" type="radio" name="question-<%= question.id %>" value="<%= answer.id %>" hidden>
      <label for="answer-<%= answer.id %>"><%= answer.answer %></label>
    </li>
    <% }) %>
  </ol>
  <% }) %>
</ol>

<% if (permission !== 'restricted') { %>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  
  <script>
    toggleClass = (button, questionId) => {
      const state = button.firstElementChild
      
      state.innerHTML = state.innerHTML === 'Show' ? 'Hide' : 'Show'
            
      $.get(`question-${questionId}-correct-answer`, correctAnswer => {
        $(`[for="answer-${correctAnswer.id}"]`).toggleClass('amber')
      })
    }
  </script>
<% } %>
