<%- include('_head', { title: 'Quiz - ' + quiz.name }) %>

<%- include('_nav', { page: 'quiz' }) %>

<h2 class="sub-header"><%= quiz.name %></h2>

<div class="questions">
  <% quiz.questions.forEach(question => { %>
    <div class="question" ><%= question.question %></div>

    <div class="answers">
      <% question.answers.forEach(answer => { %>
        <input id="answer-<%= answer.id %>" type="radio" name="<%= question.id %>" value="<%= answer.id %>">
        <label for="answer-<%= answer.id %>" class="answer"><%= answer.answer %></label>
      <% }) %>
    </div>
  <% }) %>
</div>
